<ng-container *ngIf="{
  patient$: patientService.selectedPatient$ | async,
  showContent$: showContent$ | async
} as observables">
<div class="hxui-reset patientEdit">
  <hxa-loader *ngIf="!observables.showContent$" [size]="sizeEnum.Large"></hxa-loader>
  <div class="hx-panel" *ngIf="observables.showContent$">
    <div class="hx-panel-header pb-0 pt-8">
      <div class="hx-panel-header-row">
        <div class="hx-flex-column">
          <div class="hx-panel-header-heading">
            <div class="hx-avatar hx-bg-light is-small hx-flex-align-self-start mr-3">{{initials}}</div>
            <div class="h2">
              {{displayName}}
            </div>
          </div>
          <div class="hx-panel-header-subheading hx-flex ml-9 pl-2">
            <div *ngIf="patientSince"><span class="is-text-weight-light">Has been a patient since</span> {{patientSince | dateFormat}}</div> <span *ngIf="!patientSince">No consult was ever recorded</span>
            <div class="hx-divider"></div>
            <span class="is-text-weight-light mr-1">Age</span> <span>{{ observables.patient$?.DateOfBirth | age }}</span>
            <div class="hx-divider"></div>
            <span class="is-text-weight-light mr-1">Patient ID </span> <span>{{observables.patient$?.Id}}</span>
          </div>
        </div>
      </div>
      <div class="hx-tab-container mt-6">
        <ul class="hx-nav hx-nav-tabs">
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'demographics'] } }]" routerLinkActive="is-active">
              <span>Demographics</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'addresses'] } }]" routerLinkActive="is-active">
              <span>Addresses</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'contacts'] } }]" routerLinkActive="is-active">
              <span>Contacts</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'billing'] } }]" routerLinkActive="is-active">
              <span>Billing</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'carer'] } }]" routerLinkActive="is-active">
              <span>Carer</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'payer'] } }]" routerLinkActive="is-active">
              <span>Payer</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'notes'] } }]" routerLinkActive="is-active">
              <span>Notes</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" [routerLink]="[{ outlets: { 'patient-edit': ['patient',observables.patient$?.Id,'preferences'] } }]" routerLinkActive="is-active">
              <span>Preferences</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hx-panel-body pa-8">
          <router-outlet name="patient-edit"></router-outlet>
    </div>
    <div class="hx-panel-footer">
      <div class="hx-flex hx-flex-justify-between">
          <button class="hx-button">Reset</button>
          <button class="hx-button is-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</ng-container>
