<div class="hx-columns">
  <div class="hx-column is-5">
    <div class="hx-columns">
      <div class="hx-column">
        <h4>Contact Numbers</h4>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Mobile Number <sup>*</sup></label>
          <div class="hx-help">Please enter a number</div>
        </div>
        <div class="hx-input-control">
          <div class="hx-checkbox-control">
            <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option1" />
            <label for="option1" class="hx-label">Not provided?</label>
          </div>
        </div>
      </div>
      <div class="hx-column is-4">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Description <sup>*</sup></label>
          <div class="hx-help">Please enter a description</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Phone Number <sup>*</sup></label>
          <div class="hx-help">Please enter a number</div>
        </div>
        <div class="hx-input-control">
          <div class="hx-checkbox-control">
            <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option2"  />
            <label for="option2" class="hx-label">Not provided?</label>
          </div>
        </div>
      </div>
      <div class="hx-column is-4">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Description <sup>*</sup></label>
          <div class="hx-help">Please enter a description</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Next of kin <sup>*</sup></label>
          <div class="hx-help">Please enter a number</div>
        </div>
        <div class="hx-input-control">
          <div class="hx-checkbox-control">
            <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option2"  />
            <label for="option2" class="hx-label">Not provided?</label>
          </div>
        </div>
      </div>
      <div class="hx-column is-4">
        <div class="hx-input-control">
          <input class="hx-input" type="text"  hxaTextInput required>
          <label class="hx-label">Description <sup>*</sup></label>
          <div class="hx-help">Please enter a description</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hx-column is-5 is-offset-1">
    <div class="hx-columns">
      <div class="hx-column">
        <h4>Other Types</h4>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Email <sup>*</sup></label>
          <div class="hx-help">Please enter an email address</div>
        </div>
        <div class="hx-input-control">
          <div class="hx-checkbox-control">
            <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option1" />
            <label for="option1" class="hx-label">Not provided?</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
