<ng-container *ngIf="{
  patients$: patientService.patients$ | async
} as observables">
  <div class="hx-section is-comfortable">
  <h1 class="hx-title">Patient Search</h1>
  <h2 class="hx-subtitle">Prototype to show how searching a patient and view patient details would work</h2>
  <div class="hx-card">

    <div class="hx-card-content">
      <div class="hx-columns is-perforated">
        <div class="hx-column">
          <div class="hx-input-group">
            <i class="hx-icon icon-search"></i>
            <div class="hx-input-control">
              <input class="hx-input" type="text" required="">
              <label class="hx-label">Search <sup>*</sup></label>
              <div class="hx-help">Please search by patient name</div>
            </div>
            <div class="hx-input-actions">
              <div class="hx-button-group">
                <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-close-empty"></i></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="hx-column is-two-thirds"></div>
      </div>


       <table class="hx-table is-hover mb-0">
        <thead>
        <tr>
          <th class="firstname">Firstname</th>
          <th class="surname">Surname</th>
          <th class="gender is-text-center">Gender</th>
          <th class="age is-text-center">Age</th>
          <th class="dob">Date of birth</th>
          <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of observables.patients$">
          <td>{{patient.FirstName}}</td>
          <td>{{patient.Surname}}</td>
          <td class="is-text-center"><i class="hx-icon" [class.icon-female]="patient.Gender === 2"  [class.icon-male]="patient.Gender === 1"></i></td>
          <td class="is-text-center">{{patient.DateOfBirth | age}}</td>
          <td>{{patient.DateOfBirth | dateFormat}}</td>
          <td class="is-text-center"><button class="hx-button is-flat is-small" (click)="viewDetails(patient)"><i class="hx-icon icon-edit"></i></button></td>
        </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
</ng-container>
