<div class="hx-columns">
  <div class="hx-column is-5">
      <div class="hx-columns">
        <div class="hx-column">
          <h4>Personal Information</h4>
        </div>
      </div>
      <div class="hx-columns">
        <div class="hx-column is-3">
          <ng-select  #title placeholder="Title" [searchable]="false" [clearable]="false">
            <ng-option value="Mr">Mr</ng-option>
            <ng-option value="Master">Master</ng-option>
            <ng-option value="Mrs">Mrs</ng-option>
            <ng-option value="Ms">Ms</ng-option>
            <ng-option value="Miss">Miss</ng-option>
            <ng-option value="Dr">Dr</ng-option>
            <ng-option value="A/Prof">A/Prof</ng-option>
            <ng-option value="Prof">Prof</ng-option>
          </ng-select>
        </div>
        <div class="hx-column">
          <div class="hx-input-control">
            <input class="hx-input" type="text" hxaTextInput required>
            <label class="hx-label">Surname <sup>*</sup></label>
            <div class="hx-help">Please enter a surname</div>
          </div>
        </div>
      </div>
      <div class="hx-columns">
        <div class="hx-column">
          <div class="hx-input-control">
            <input class="hx-input" type="text" hxaTextInput required>
            <label class="hx-label">First name <sup>*</sup></label>
            <div class="hx-help">Please enter a first name</div>
          </div>
        </div>
        <div class="hx-column">
          <div class="hx-input-control">
            <input class="hx-input" type="text" hxaTextInput required>
            <label class="hx-label">Middle names <sup>*</sup></label>
            <div class="hx-help">Please enter any middle names</div>
          </div>
        </div>
      </div>
      <div class="hx-columns">
        <div class="hx-column">
          <div class="hx-input-control">
            <input class="hx-input" type="text" hxaTextInput required>
            <label class="hx-label">Preferred name <sup>*</sup></label>
            <div class="hx-help">Please enter any preferred names</div>
          </div>
        </div>

      </div>
      <div class="hx-columns">
        <div class="hx-column is-3">
          <ng-select  #gender placeholder="Gender" [searchable]="false" [clearable]="false">
            <ng-option value="Male"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-male"></i> Male</div></ng-option>
            <ng-option value="Female"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-female"></i> Female</div></ng-option>
            <ng-option value="NotSpecified"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-circle-outline"></i> Not specified by patient</div></ng-option>
          </ng-select>
        </div>
        <div class="hx-column">
          <hxa-datepicker-input
            name="dateOfBirth"
            align="bottom"
            placeholder="Date of birth"
            [defaultToPresentDate]="true"
            [required]="true"
          ></hxa-datepicker-input>
        </div>
        <div class="hx-column">
          <hxa-datepicker-input
            name="dateOfDeath"
            align="bottom"
            placeholder="Date deceased"
            [defaultToPresentDate]="false"
            [required]="false"
          ></hxa-datepicker-input>
        </div>
      </div>
      <div class="hx-columns">
        <div class="hx-column">
          <ng-select  #atsi placeholder="ATSI" [searchable]="false" [clearable]="false">
            <ng-option value="Aboriginal">Aboriginal</ng-option>
            <ng-option value="TorresStraitIslander">Torres Strait Islander</ng-option>
            <ng-option value="AboriginalTorresStraitIslander">Aboriginal & Torres Strait Islander</ng-option>
            <ng-option value="NeitherAboriginalnorTorresStraitIslander">Neither Aboriginal nor Torres Strait Islander</ng-option>
            <ng-option value="NotStatedInadequatelyDescribed">Not Stated/Inadequately Described</ng-option>
          </ng-select>
        </div>
      </div>
  </div>
</div>
