<div class="hx-columns">
  <div class="hx-column is-5">
    <div class="hx-columns">
      <div class="hx-column">
        <h4>Home Address</h4>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Address line 1 <sup>*</sup></label>
          <div class="hx-help">Please enter an address</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Address line 2 <sup>*</sup></label>
          <div class="hx-help">Please enter an address</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Suburb <sup>*</sup></label>
          <div class="hx-help">Please search and select a suburb</div>
        </div>
      </div>
        <div class="hx-column is-4">
          <ng-select  #state placeholder="State" [searchable]="false" [clearable]="false">
            <ng-option value="NSW">NSW</ng-option>
            <ng-option value="ACT">ACT</ng-option>
            <ng-option value="NT">NT</ng-option>
            <ng-option value="QLD">QLD</ng-option>
            <ng-option value="SA">SA</ng-option>
            <ng-option value="TAS">TAS</ng-option>
            <ng-option value="VIC">VIC</ng-option>
          </ng-select>
        </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <ng-select  #country placeholder="Country" [searchable]="false" [clearable]="false">
          <ng-option value="Australia">Australia</ng-option>
          <ng-option value="Algeria">Algeria</ng-option>
        </ng-select>
      </div>
      <div class="hx-column is-4">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Postcode <sup>*</sup></label>
          <div class="hx-help">Please enter a postcode</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
      <div class="hx-input-control">
        <div class="hx-checkbox-control">
          <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option1" (change)="postalIsDiff = !postalIsDiff" />
          <label for="option1" class="hx-label">Is postal address different from home address?</label>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="hx-column is-5 is-offset-1" *ngIf="postalIsDiff">
    <div class="hx-columns">
      <div class="hx-column">
        <h4>Postal Address</h4>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Address line 1 <sup>*</sup></label>
          <div class="hx-help">Please enter an address</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Address line 2 <sup>*</sup></label>
          <div class="hx-help">Please enter an address</div>
        </div>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Suburb <sup>*</sup></label>
          <div class="hx-help">Please search and select a suburb</div>
        </div>
      </div>
      <div class="hx-column is-4">
        <ng-select  #state placeholder="State" [searchable]="false" [clearable]="false">
          <ng-option value="NSW">NSW</ng-option>
          <ng-option value="ACT">ACT</ng-option>
          <ng-option value="NT">NT</ng-option>
          <ng-option value="QLD">QLD</ng-option>
          <ng-option value="SA">SA</ng-option>
          <ng-option value="TAS">TAS</ng-option>
          <ng-option value="VIC">VIC</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <ng-select  #country placeholder="Country" [searchable]="false" [clearable]="false">
          <ng-option value="Australia">Australia</ng-option>
          <ng-option value="Algeria">Algeria</ng-option>
        </ng-select>
      </div>
      <div class="hx-column is-4">
        <div class="hx-input-control">
          <input class="hx-input" type="text" hxaTextInput required>
          <label class="hx-label">Postcode <sup>*</sup></label>
          <div class="hx-help">Please enter a postcode</div>
        </div>
      </div>
    </div>
  </div>
</div>
